// Define variables to override default ones
$primary-color: #367da2;
$dark-color: #424241;

// Import full Spectre source code
@import 'node_modules/spectre.css/src/spectre';
@import 'node_modules/spectre.css/src/spectre-icons';

.container {
  max-width: 1100px;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.popover .popover-container.account-info {
  width: fit-content;
}

.popover:hover .popover-container.account-info {
  opacity: 1;
  left: 0%;
  top: 100%;
  transform: translate(-60%, 0);
}

.columns {
  height: 100%;
}

.subtext-code {
  font-size: 0.9em;
  font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Courier, monospace;
  padding-left: 2px;
}

.setup-steps--done-wrapper,
#root,
body,
html {
  height: 100%;
}

.column.main-right-column {
  display: flex;
  flex-direction: column;
}

.column .local-storage {
  align-self: baseline;
  text-align: left;
  height: fit-content;
}

.accordion label:hover {
  cursor: pointer;
}

.main-content {
  padding: 1em 0.25rem 0.4rem;
}
